body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#piano-container {
    display: flex;
}

.key {
    width: 50px;
    height: 200px;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
}

.white {
    background-color: #fff;
}
